img {
  width: 300px;
  border-radius: 5px;
  float: left;
}
h1 {
  color: rgb(51, 123, 123)
}
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.form-control {
  color: rgb(90, 56, 121)
}
.form-group {
  color: rgb(93, 76, 45)
}

