img {
  width: 300px;
  border-radius: 50%;
  float: left;
  padding: 2em
}
h1 {
  color: rgb(145, 184, 184);
  font-size: 25pt;
  text-shadow: 5px 5px 5px black;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(149, 149, 167)
}
.form-control {/*the answers on the form*/
  color: rgb(90, 56, 121)
}
.form-group {
  color: rgb(93, 76, 45)
}
.btn{
  color: rgb(19, 19, 62);
  text-shadow: aquamarine;
  border-bottom: 25px; 
}
container {
  border-radius: 25px;
  padding: 25;
}
#formOne { /*Form one is the form itself */
  border-radius: 25px;
  padding: 50px;
}
#results { 
  display: none;
  text-align: center;
  padding: .5em;
}


